body {
            background-color: #f0f8ff;
        }

        .card {
            transition: transform 0.2s, box-shadow 0.2s;
            border: none;
        }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        .card-title {
            color: #ff4500;
        }

        .list-group-item {
            text-align: center;
            background-color: #ffe4b5;
            border: none;
        }

        .list-group-item:nth-child(even) {
            background-color: #ffebcd;
        }

        .card-body {
            background-color: #ffe4e1;
        }

        .card-link {
            color: #1e90ff;
        }

        .card-link:hover {
            color: #ff1493;
        }