{% extends 'base.html' %}

{% block title %} About Us {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='aboutus.css') }}">

{% endblock css %}

{% block back_to_main %}
    <a href="{{ url_for('home') }}" class="btn btn-primary">მთავარი მენიუ</a>
{% endblock back_to_main %}

{% block about %}
<body>

<div class="container">
    <h1>About Us</h1>
    <p>მოგესალმებით ჩვენს “About Us” გვერდზე. ეს ვებ-საიტი წარმოადგენს მცირე მასშტაბის საინფორამცია პლატფორმას, რომელზე შემოსულ მომხარებელსაც შეუძლია მიიღოს საბაზისო სიახლეებზე ინფორმაცია.
    ამ ვებ-საიტის დახმარებით დაინტერესებულ პირს შეუძლია გაეცონოს ამინდის პროგნგოზს საქართველოს ძირითად ქალაქებსა და დაბებში(40 ლოკაცია). გარადა ამისა, აქ ფუნქციონირებს ე.წ „Search”, რომლის გამოყენებითაც შესაძლებელია მიიღოთ ინფორმაცია მსოფლიოს ნებისმიერი ქალაქის შესახებ ისეთი ინფორმაცია, როგორიცაა : მზის ჩასვლისა და ამოსვლსი დრო, ტენიანობა, გრძედი, განედი, ცის მდგომარება, ტემპერატურა და ა.შ.
    ჩვენი ფუნქციონალი ამით არ მთავრდება, მომხმარებელს შეუძლია ასევე გაეცნოს ქვეყანასა და რეგიონში მიმდინარე პოლიტიკურ, თუ სოციალურ სიახლებს. მონაცემების გამოტანა ხდება სანდრო წყაროზე(ტაბულა) დაყრდნობით და მაღალი სანდოობით გამოირჩევა.
    ასევე, ჩვენს ვებსაიტს შესწევს უნარი, რომ მომხმარებლამდე მიიტანოს სავალუტო ცვლილებებეც.  აქ შეხვდებით ორმოცდაათამდე მსოფლიოში გავრცელებულ ვალუტას და შეგეძლებათ იხილოთ თუ როგორ პროპორციაში არიან ისინი ლართან მიმართებაში. აღსანიშნავია, რომ აქ ასევე შესაძლებელია ნებისიმერი ვალუტის ნებისიერში გადაყვანა და შესაბამისი რეზულტატის ნახვა.
    ვებ-საიტზე მუშაობდნენ : ირაკლი ქარდავა, ნიკა გიორგაძე და საბა ზაქარეიშვილი.
    </p>
</div>

</body>
{% endblock about %}
